<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Authorizing>
            <NotAuthorized>
                <div class="container-fluid">
                    <div class="row"><div class="col-12">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h5 class="text-white">Você não tem permissão para visualizar este conteúdo!</h5>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Endereço não encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container-fluid">
                <div class="row"><div class="col-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p role="alert">Desculpe... não há nada por aqui</p>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>


